footer {
    border-top: 1px solid white;
    background-color: black;
    color: white;
    padding: 1rem;
    
    &-wrapper {
        display: flex;
    }
  
  
    &-redes ul li a {
    color: white;
  }
  
  &-redes ul li a i {
    font-size: 1.3rem;
  }
}
  